$black: #000;
$black-dark: #3333;
$black-light: #676767;
$white: #ffff;
$white-dark: #dcdcdc;
$red: #ff0000;
$brown: #b36704;

$font-primary: 1rem;
$font-md: $font-primary * 1.25;
$font-xl: $font-primary * 2.5;
$font-sm: $font-primary * 0.75;
$font-main: "Montserrat", sans-serif;
$shadow: 0px 5px 5px 0px rgba(61, 60, 60, 0.1);

$max-width: 1980px;
